/***********
* GLOBAL   *
***********/

@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', 'Segoe UI', 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, Roboto, Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  // vuetify made me do this
  overflow: auto!important;
}

body {
  margin: 0;
}

.reee {
  font-size: $font-reee;
  font-weight: $fontweight-ultrabold;
}

h1 {
  font-size: $font-heading;
  font-weight: $fontweight-bold;
}

h2 {
  font-size: $font-subheading;
  font-weight: $fontweight-bold;
}

p {
  font-size: $font-regular;
  font-weight: $fontweight-regular;
}

.v-btn {
  margin: 0;
  border-radius: 0;
  font-size: $font-button;
  .v-btn__content {
    text-transform: capitalize;
  }
}



.v-text-field,
.v-text-field .v-label,
.v-text-field .v-icon {
  &.primary--text {
    color: $color-black !important;
    caret-color: $color-black !important;
  }
}

.v-text-field .v-input__prepend-inner {
  padding-right: 20px !important;
}

.v-text-field--outline {
  .v-input__control {
    .v-input__slot {
      border-width: 1px !important;
      border-radius: 1px !important;
    }
  }
}

#__layout {
  .theme--light.application {
    background: $color-gray;
  }
}
